@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}
/* share style section start */
.btn{
    padding: 17px 24px 17px 24px;
    color: rgb(13, 19, 33);
    background-color: transparent;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.color1{
    border-radius: 16px;
    background: rgba(254, 67, 20, 0.156);
}
.color2{
    border-radius: 16px; 
    background: rgba(0, 77, 232, 0.171);
}
.color3{
    border-radius: 16px;
    background: rgba(255, 221, 0, 0.294);
}
/* share style section end */
/* navbar style start */
.nav-section{
    display: flex;
    justify-content: space-between;
    margin: 40px 150px;
}
.nav-section h1{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    padding-top: 13px;
}
/* navbar style end */
/* banner section style start */
.banner{
    max-width: 1920px;
    max-height: 950px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 3px dotted rgba(108, 108, 108, 0.327);
    border-bottom: 3px dotted rgba(108, 108, 108, 0.327);
}
.banner-box{
    max-width: 998px;
    height: 600px;
}
.banner-box >h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    margin: 32px 0px 24px 0px;
}
.banner-box > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
.banner-btn{
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
/* banner section style start */
/* development section style start */
.development-section{
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 110px;
    border-radius: 50px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin-bottom: 100px;
}
.development-section-box{
    padding: 90px 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.development-section-box > h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
}
.development-section-box > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 48px;
    text-align: center;
}
.development-section-item-box{
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    margin-bottom: 20px;
    border-radius: 30px;
}
.development-item{
    padding: 45px;
}
.development-item > h2{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
.development-item > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}
/* development section style end */
/* inspriration section style start */
.inspiration-section{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.inspiration-section-box{
    max-width: 1140px;
    text-align: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 30px;
    padding-bottom: 30px;
}
.inspiration-section-box > h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 25px;
    margin-top: 40px;
}
.inspiration-section-box > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
}
/* inspriration section style end */
/* skill section style start */
.skill-container{
    display: flex;
    justify-content: center;
}
.skill-section{
    max-width: 1240px;
    margin-top: 150px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 50px;
}
.skill-section >h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}
.skill-section > P{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.skill-item-box{
    display: flex;

}
.skill-item{
    max-width: 380px;
    padding: 50px;
    margin: 50px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.skill-item > h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin: 10px 0;
}  
.skill-item > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 25px;
}
.skill-item > a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
/* skill section style end */
/* target-skill-container style start */
.target-skill-container{
    display: flex;
    justify-content: center;
}
.target-skill{
    max-width: 1240px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 80px;
    margin-top: 110px;
}

.target-skill >h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 30px;
}
.target-skill > p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}
.target-skill-item{
    display: flex;
    padding: 40px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 30px 60px;
    border-radius: 50px;
}
.target-skill-text{
    margin-left: 30px;
}
.target-skill-item h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
.target-skill-item p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 25px;
}
.target-skill-item a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}
/* target-skill-container style end */